<div class="container py-5">

<div class="row">
  <div class="col-6">

    <h2>User registration</h2>

    <form #userForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Имя: </label>
        <input id="name" type="text" class="form-control" name="name" required minlength="4" maxlength="10"
               [(ngModel)]="model.name">

        <div *ngIf="formErrors.name" class="alert alert-danger">
          {{formErrors.name}}
        </div>
      </div>

      <div class="form-group">
        <label for="age">Возраст: </label>
        <input id="age" type="number" class="form-control" name="age" required
               [(ngModel)]="model.age">

        <div *ngIf="formErrors.age" class="alert alert-danger">
          {{formErrors.age}}
        </div>
      </div>

      <div class="form-group">
        <label for="role">Роль: </label>
        <select name="role" id="role" class="form-control" required
                [(ngModel)]="model.role">

          <option *ngFor="let role of roles" [value]="role">{{role}}</option>
        </select>
      </div>

      <div class="form-group">
        <button class="btn btn-info" [disabled]="userForm.form.invalid">Отправить</button>
      </div>

    </form>

  </div>
</div>

</div>
